<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Villa Chicken</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown active" ngbDropdown #myDrop="ngbDropdown">
        <a class="nav-link dropdown-toggle" href="javascript:;" id="logisticaNav"
           role="button" data-toggle="dropdown" aria-haspopup="true" ngbDropdownToggle
           aria-expanded="false">
          Logística
        </a>
        <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="logisticaNav">
          <a class="dropdown-item" [routerLink]="['/nota-pedido']">Nota de Pedido</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
